#problem {
  background: #7fb77e;
}

#need {
  background: #fff38c;
}

.reason,
#sources h1 {
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
}

#sources div {
  text-align: center;
}

#sources ul {
  display: inline-block;
  text-align: left;
}
